<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.Research.Wwt.Excel.Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
    </trace>
    <sources>
      <source name="WWTEarthAddin" switchValue="Verbose">
        <listeners>
          <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="WWTEarthAddin"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <userSettings>
    <Microsoft.Research.Wwt.Excel.Addin.Properties.Settings>
      <setting name="LastUsedGroup" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineId" serializeAs="String">
        <value />
      </setting>
    </Microsoft.Research.Wwt.Excel.Addin.Properties.Settings>
  </userSettings>
</configuration>